<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- PROCESSOR COUNTER -->
    <add key="ProcessorCategory" value="Processor"/>
    <add key="ProcessorInstance" value="_Total"/>
    <add key="ProcessorCounter" value="% Processor Time"/>
    <!-- DISK COUNTERS -->
    <add key="DiskCategory" value="LogicalDisk"/>
    <add key="DiskInstance" value="_Total"/>
    <add key="DiskCounter1" value="Disk Reads/sec"/>
    <add key="DiskCounter2" value="Disk Writes/sec"/>
    <!-- SQL COUNTER -->
	<!-- Change the SQL Server instance below if you are using a named instance -->
    <!-- <add key="SqlCategory" value="SQLServer:Databases"/> -->
	<add key="SqlCategory" value="MSSQL$SQL2016:Databases"/>
    <add key="SqlInstance" value="_Total"/>
    <add key="SqlCounter" value="Log Bytes Flushed/sec"/>
    <!-- SECONDS TO WAIT FOR COLLECTING COUNTERS -->
    <add key="SampleInterval" value="1"/>
    <!-- TOTAL NUMBER OF SAMPLES TO COLLECT -->
    <add key="MaxSamples" value="3600"/>
    <!-- DISK LOCATION OF THE OUTPUT FILE -->
    <add key="CsvPath" value="C:\Code\Lesson02\DTUCalculator\sql-perfmon-log.csv"/>
  </appSettings>
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
</configuration>
