<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="server" value="packtdbserver"/>
    <add key="user" value="dbadmin"/>
    <add key="database" value="toystore"/>
    <add key="password" value="Awesome@1234"/>
    
      
  </appSettings>
</configuration>